<section class="wrapper">
  <mat-nav-list class="wrapper__list">
    <h3>Documents List</h3>
    <mat-list-item *ngFor="let item of file">
      <mat-icon mat-list-icon>folder</mat-icon>
      <a matLine href="...">{{ item.name }}</a>
      <button mat-button color="warn">
        <mat-icon mat-list-icon (click)="downloadFile(item.content)">
          arrow_circle_down</mat-icon
        >
      </button>
    </mat-list-item>
  </mat-nav-list>
</section>

<div class="col-md-6 offset-md-3 mt-5">
  <div class="input-group">
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        id="file"
        (change)="chooseFile($event)"
      />
      <label class="custom-file-label" id="fileName">{{ tmppath }} </label>
    </div>
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        (click)="uploadFile()"
        type="button"
        [disabled]="!isDisabledUpload"
      >
        Upload
      </button>
    </div>
  </div>
  <div class="alert alert-success" *ngIf="uploadFinished" role="alert">
    Upload was successful!
  </div>
</div>
